1. Write a program to accept percentage from the user and display the grade according to the following 
criteria: 
Marks 
Grade 
>90 
A 
>80 and <=90 
B 
>=60 and <=80 
C 
below 60 
D

In [5]:
stud_per=int(input("enter the percentage "))
if stud_per>90:
             print("you got A grade")
if stud_per<=90 and stud_per>80:
             print("you got B grade")
if stud_per<=80 and stud_per>=60:
             print("you got c grade")
else :
             print("you got D grade")

enter the percentage  35

you got D grade

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 
Tax 
15% 
10% 
5% 
Cost Price(in Rs) 
>100000 
5 
50000 and <= 100000 
<= 50000

In [9]:
cp_bike=int(input("enter the cost price of the bike"))
tax=0
if cp_bike>100000:
    tax=15/100*cp_bike
elif cp_bike>50000 and cp_bike<=100000:
    tax=10/100*cp_bike
else:
    tax=5/100*cp_bike
print(f"the tax to be paid:{tax}")

enter the cost price of the bike 12000

the tax to be paid:600.0

3. Accept any city from the user and display monuments of that city. 
City 
Delhi 
Monument 
Red Fort 
Taj Mahal 
Agra 
Jaipur 
Jal Mahal

In [8]:
city=input("enter any city name from the list [delhi,agra or jaipur]")
if city.lower()=="delhi":
    print("the monument of delhi is Red fort")
elif city.lower()=="agra":
    print("the monument of agra is Taj Mahal")
elif city.lower()=="jaipur":
    print("the monunent of jaaipur is Jal Mahal")
else:
    print("please choose the correct city from list")

enter any city name from the list [delhi,agra or jaipur] agra

the monument of agra is Taj Mahal

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [11]:
num=int(input("enter any number"))
count=0
while(num>10):
    num=num/3
    count+=1
print(f"the number is divided by 3 {count} times".format(count))

enter any number 300

the number is divided by 3 4 times

5. Why and When to Use while Loop in Python give a detailed description with example

the while statement loops until the condition becomes false.if you don't have a tidy data structure to iterate through,
or you don't have a generator function that drives your processing, you must use while.

In [17]:
num=int(input("enter the number"))
count=0
while num>=10:
    num=num/2
    count+=1
print(f"the number is divided by 2 {count} times".format(count))

enter the number 34

the number is divided by 2 2 times

6. Use nested while loop to print 3 different pattern.

In [2]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  4

* * * *
* * *
* *
*

In [3]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  5

*
* *
* * *
* * * *
* * * * *

In [13]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  3

  1
  2   3
  4   5   6

7. Reverse a while loop to display numbers from 10 to 1.

In [17]:
x = 10

while (x > 0):
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1